
body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, rgba(166, 172, 200, 0.84), rgb(84, 85, 185));
}



h1{
    margin: 0;
    margin-top: 10px;
    color: white;
    font-family: Arial,sans-serif;
    font-size:45px;
    margin-bottom: 20px;
}


